.dropdown-menu[data-bs-popper] {
  top: 118%;
  left: -135px;
  margin-top: var(--bs-dropdown-spacer);
}

.logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.logoutHand {
  cursor: pointer;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.form-control {
  outline: none;
}

.card-body {
  color: white;
  background-color: black;
  border-radius: 0 0 5px 5px;
}
